<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "sample app", root_path, id: "logo" %></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
      <% if logged_in? %>
        <li><%= link_to "Users", "#" %></li>
        <li class="has-dropdown">
        <%= link_to "Account", "#" %>
        <ul class="dropdown">
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", '#' %></li>
          <li class="divider"></li>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        </ul>
      </li>
      </ul>
      <% else %>
        <li><%= link_to "Log in", login_path %></li>
      <% end %>

    </section>
  </nav>
</div>
